@model TestSegmento.ViewModels.Auth.AuthViewModel
@{
    ViewBag.Title = "Authorization";
}

<h2>Hello</h2>

<div class="container login-container">
    <div class="row" style="text-align:center;">
        <p style="margin-bottom:15px;">Please, login with VK</p>
        <a class="btn vk-btn" href="@Url.Action("AuthenticateViaVk", "Auth")"></a>

        @{ if (Model.Errors.Any())
            {
                foreach (var error in Model.Errors)
                {
                <div class="validation-error">@error</div>
                }
            }
        }
    </div>
</div>